
#include "resource.h"
#include <windows.h>

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...\tCtrl+O", IDM_FILE_OPEN
        MENUITEM "&Save log...\tCtrl+S", IDM_FILE_SAVE_LOG
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_FILE_EXIT
    END

    POPUP "&Tools"
    BEGIN
        MENUITEM "&Generate data...\tCtrl+G", IDM_TOOLS_GENERATE
        MENUITEM "&Process file...\tCtrl+P", IDM_TOOLS_PROCESS
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About", IDM_HELP_ABOUT
    END
END

IDD_GENERATE DIALOGEX 0, 0, 260, 92
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Generate data"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Number of records:", -1, 10, 16, 110, 10
    EDITTEXT IDC_EDIT_COUNT, 125, 14, 120, 14, ES_NUMBER | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 86, 54, 80, 18
    PUSHBUTTON "Cancel", IDCANCEL, 170, 54, 80, 18
END

IDD_PROCESS DIALOGEX 0, 0, 320, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Process options"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Container type:", -1, 10, 16, 100, 10
    COMBOBOX IDC_COMBO_CONTAINER, 120, 14, 180, 80, CBS_DROPDOWNLIST | WS_TABSTOP

    LTEXT "Split strategy:", -1, 10, 46, 100, 10
    COMBOBOX IDC_COMBO_STRATEGY, 120, 44, 180, 80, CBS_DROPDOWNLIST | WS_TABSTOP

    DEFPUSHBUTTON "OK", IDOK, 150, 86, 70, 18
    PUSHBUTTON "Cancel", IDCANCEL, 230, 86, 70, 18
END
